@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import CSS for react-responsive-carousel */
@import "~react-responsive-carousel/lib/styles/carousel.min.css";

* {
  scrollbar-width: thin;
  scrollbar-color: #5b33a8, #5b33a8;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 14px;
  border: 3px solid #f5f5f5;
}

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

.loader {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid red;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: black;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}

.pagination {
  list-style:none;
  display:  flex;
  justify-content:center;
  align-items:center;
  margin-bottom:5rem;
  font-size: 1.2rem;
  gap:5px; 
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover {
  background-color: #13293d;
  color: #fff;
}

.pagination .active {
  background-color: #13293d;
  color: #fff;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

@media print {
  .component-to-print {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
  }
  .no-print {
    display: none;
  }
  @page {
    size: tabloid landscape;
    
    
  }
}

